.background {
  background: linear-gradient(to bottom right, $background-primary, $background-secondary);
  @media (min-width: $screen-md-min) {
    background-image: image-url("hero-bg.png"), linear-gradient(to bottom right, $background-primary, $background-secondary);
  }

  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-blend-mode: darken;
}

.background-gradient-down {
  background: linear-gradient(to bottom, $background-primary, $background-secondary);
}
.background-gradient-down-right {
  background: linear-gradient(to bottom right, $background-primary, $background-secondary);
}

.background-top-curve {
  background-image: image-url("background-top-curve.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  height: 15px;
  @media (min-width: $screen-md-min) {
    height: 35px;
  }
}

.background-bottom-curve {
  background-image: image-url("background-bottom-curve.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  height: 15px;
  @media (min-width: $screen-md-min) {
    height: 35px;
  }
}

.background-liam {
  padding: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100%), image-url("liam.png");
  color: white;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  .background-liam-content {
    padding-left: 40px;
  }
  .background-curve-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.background-testimonials {
  @media (min-width: $screen-md-min) {
    background-image: image-url("testimonial-bg.png");
  }
  background: linear-gradient(to bottom right, $background-primary, $background-secondary);
  background-repeat: no-repeat;
  background-size: cover;
}

.background-quote {
  background-image: image-url("background-quote.svg");
  background-repeat: no-repeat;
  background-position: top left;
}

.background-quote-dark {
  background-image: image-url("background-quote-dark.svg");
  background-repeat: no-repeat;
  background-position: top left;
}
