.blog-summaries {
  .col-sm-6 {
    &:first-child {
      border-right: none;
      @media (min-width: $screen-md-min) {
        border-right: 1px solid $brand-primary;
      }
    }
    &:last-child {
      padding-left: 15px;
      @media (min-width: $screen-md-min) {
        padding-left: 80px;
      }
    }
    a {
      color: black;
      transition: color 0.3s;
      &:hover {
        color: grey;
        text-decoration: none;
      }
    }
  }
}

.blog--index--entry {
  &.hover {
    color: grey;
    .col-sm-9 {
      left: 10px;
    }
  }
  transition: all 0.3s;
  .col-sm-9 {
    position: relative;
    left: 0;
    transition: all 0.3s;
  }
}

