$brand-primary: #74EDD5;
$brand-secondary: #A4A3ED;

$lightest: #FFFFFF;
$lighter: #CCCCCC;
$light: darken($lighter, 10%);

$font-lightest: $lightest;
$font-lighter: $lighter;

$background-primary: $brand-primary;
$background-secondary: $brand-secondary;
