@font-face {
  font-family: GothamRounded-Bold;
  src: asset-url("GothamRounded-Bold.otf") format("opentype");
}

@font-face {
  font-family: GothamRounded-Book;
  src: asset-url("GothamRounded-Book.otf") format("opentype");
}
