.hero-logo {
  padding-top: 10px;
  padding-bottom: 30px;
  @media (min-width: $screen-md-min) {
    padding-top: 340px;
    padding-bottom: 80px;
  }
}

.hero-bottom {
  background-image: image-url("hero-bottom.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  height: 15px;
  @media (min-width: $screen-md-min) {
    height: 55px;
  }
}

.hero {
  @extend .text-center;
  @extend .mb-10;
  .btn {
    margin-bottom: 30px;
    @media (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
  }
}

.title-and-text--title {
  @media (min-width: $screen-md-min) {
    text-align: right;
  }
}

.title-and-text--text {
  margin-top: 5px;
  font-family: 'GothamRounded-Book', serif;
  font-size: 18px;
}

.homepage--packages {
  padding-top: 50px;
  padding-bottom: 20px;
  .col-sm-4 {
    @media (min-width: $screen-md-min) {
      &:first-child {
        border-right: 4px solid $lightest;
      }
      &:last-child {
        border-left: 4px solid $lightest;
      }
    }
  }
}

.blog--index--summary {
  &:hover {
    color: grey;
  }
}

.homepage--how-it-works--item {
  &.hover {
    top: -10px;
  }
  position: relative;
  transition: all 0.3s;
  top: 0;
  a {
    color: black;
    &:hover {
      text-decoration: none;
      color: grey
    }
    transition: color 0.3s;
  }
}
