.modal-header-left {
  display: flex;
}

.modal-footer {
  text-align: center;
  border-top: none;
}

.modal-header {
  border-bottom: none;
}

.modal-backdrop {
  background-color: $brand-secondary;
}

.modal-content {
  padding: 20px;
}
