.navbar-brand {
  height: auto;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  font-family: 'GothamRounded-Bold', serif;
  ul {
    margin-top: 13px;
    li {
      a {
        text-transform: uppercase;
        &.active {
          @media (min-width: $screen-sm-min) {
            border-bottom: 3px solid $lightest;
          }
        }
      }
    }
  }
  .navbar-toggle {
    margin-top: 25px;
    background: $lightest;
    border: none;
  }
  .navbar-collapse {
    border: none;
    box-shadow: none;
  }
  .navbar-nav > .active > a {
    color: $lightest;
    background-color: transparent;
  }
}
